/*Style for weather journal app*/
@import url('css/var4main.css');
@import url('css/animation.css');

html {
	height: 100%;
	background: #abdaf4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(135deg, #cee9f8, #abdaf4, #77c3ed, #54b3e9, #43abe6, #229cdf, #1979ad);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(135deg, #cee9f8, #abdaf4, #77c3ed, #54b3e9, #43abe6, #229cdf, #1979ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main__page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 2rem, 1rem;
}

.journal__entry__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

h1 {
	font-size: var(--page-title-size);
	font-family: var(--page-title-family);
	font-weight: var(--page-title-weight);
}

h2 {
	font-size: var(--regular-title-size);
	font-family: var(--regular-title-family);
	font-weight: var(--regular-title-weight);
}

p {
	font-size: var(--regular-text-size);
	font-family: var(--regular-text-family);
	font-weight: var(--regular-text-weight);
}