.bubble--animation {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*DIVS that will be animated*/
.bubble--animation div {
	position: absolute;
	display: block;
	content: '';
	border-radius: 50%;
	z-index: -1;
}

/*Animation Details*/
.bubble--animation div:nth-of-type(1) {
	width: 15px;
	height: 15px;
	background-color: rgb(242,252,254,0.25);
	/*Animation shorthand
	animation: name duration timing-funciton delay infinte*/
	animation: fall-diagonally 20s linear -2s infinite;
}

.bubble--animation div:nth-of-type(3) {
	width: 25px;
	height: 25px;
	background-color: rgb(242,252,254, 0.3);
	animation: fall-diagonally 30s ease-out 6s infinite;
}

.bubble--animation div:nth-of-type(2) {
	width: 5px;
	height: 5px;
	background-color: rgb(242,252,254, 0.2);
	animation: fall-increase-diagonally 25s ease-in -5s infinite;
}

.bubble--animation div:nth-of-type(4) {
	width: 2px;
	height: 2px;
	background-color: rgb(242,252,254, 0.3);
	animation: fall-increase-diagonally 15s linear 10s infinite;
}

.bubble--animation div:nth-of-type(5) {
	width: 30px;
	height: 30px;
	background-color: rgb(242,252,254, 0.1);
	animation: fall-bigger-diagonally 30s ease-in -3s infinite;
}

.bubble--animation div:nth-of-type(8) {
	width: 25px;
	height: 25px;
	background-color: rgb(242,252,254, 0.25);
	animation: fall-bigger-diagonally 45s ease 2s infinite;
}

.bubble--animation div:nth-of-type(6) {
	width: 15px;
	height: 15px;
	background-color: rgb(242,252,254, 0.3);
	animation: fall-diagonally-halfway 35s linear 3s infinite;
}

.bubble--animation div:nth-of-type(7) {
	width: 30px;
	height: 30px;
	background-color: rgb(242,252,254, 0.25);
	animation: fall-diagonally-halfway 20s ease-in 8s infinite;
}


.bubble--animation div:nth-of-type(9) {
	width: 30px;
	height: 30px;
	background-color: rgb(242,252,254, 0.2);
	animation: fall-diagonally-lower 15s ease-in-out 2s infinite;
}

.bubble--animation div:nth-of-type(10) {
	width: 30px;
	height: 30px;
	background-color: rgb(242,252,254, 0.15);
	animation: fall-diagonally-upper 25s ease-in-out 2s infinite;
}

/*Animation rules*/
@keyframes fall-diagonally {
	0%{
        left: -20px;
        top: -20px;
    }
    100%{
    	left: 75vw;
    	top: 70vh;
    }
}

@keyframes fall-increase-diagonally {
	0%{
        left: -10px;
        top: -10px;
    }
    100%{
    	left: 70vw;
    	top: 55vh;
    	width: 40px;
    	height: 40px
    }
}

@keyframes fall-bigger-diagonally {
	0%{
        left: 15px;
        top: 15px;
    }
    100%{
    	left: 70vw;
    	top: 60vh;
    	width: 100px;
    	height: 100px
    }
}

@keyframes fall-diagonally-halfway {
	0%{
        left: 2vw;
        top: -5px;
    }
    100%{
    	left: 60vw;
    	top: 60vh;
    	width: 60px;
    	height: 60px
    }
}

@keyframes fall-diagonally-lower {
	0%{
        left: 1vw;
        top: -5px;
    }
    100%{
    	left: 55vw;
    	top: 70vh;
    	width: 65px;
    	height: 65px
    }
}

@keyframes fall-diagonally-upper {
	0%{
        left: -5px;
        top: -5px;
    }
    100%{
    	left: 65vw;
    	top: 40vh;
    	width: 70px;
    	height: 70px
    }
}