/*Style for weather journal app*/
@import url(var4main.css);
@import url(animation.css);

html {
	height: 100%;
	background: #328cb4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom right, #61b0d3, #328cb4); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom right, #61b0d3, #328cb4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
	font-size: var(--regular-text-size);
	font-family: var(--regular-text-family);
	font-weight: var(--regular-text-weight);
}

label {
	font-size: var(--regular-text-size);
	font-family: var(--regular-text-family);
	font-weight: var(--regular-text-weight);
	padding: 0.2rem 0;
}

.main__page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 2rem, 1rem;
}

.page__title {
	font-size: var(--page-title-size);
	font-family: var(--page-title-family);
	font-weight: var(--page-title-weight);
	color: var(--page-title-color);
	/*padding: 2rem 2rem 0 2rem;*/
    /*margin: 0 1rem 1rem 1rem;*/
    margin: 2rem;
    padding: 1rem 0 0 0;
}


.div__title {
	font-size: var(--regular-title-size);
	font-family: var(--regular-title-family);
	font-weight: var(--regular-title-weight);
	color: var(--regular-title-color);
	/*padding: 0 0 0 1rem;*/
	/*margin: 1rem 0 0 0;*/
}

/*Main Content*/
.weather__journal {
	width: 50vw;
}

/*Style divs for user input*/
.weather__form {
	border: 0.2rem solid var(--special-background-color);
	padding: 1rem 2rem 2rem 2rem;
	margin: 0 0 2rem 0;
}

.weather__form:hover {
	box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);
}

.journal__entry__form {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-around;
	/*padding: 1rem;*/
}

textarea {
	resize: none;
}

.user__input {
	font-family: var(--regular-title-family);
	font-weight: var(--regular-text-weight);
	font-size: var(--regular-text-size);
	color: var(--special-text-color);
	padding: 0.5rem;
	margin: 0 0 0.5rem 0;
	background-color: var(--special-background-color);
	border: none;
	outline: none;
	/*width: 50vw*/
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /*color: var(--special-text-color);*/
  color: var(--special-text-color);
  opacity: 0.7; /* Firefox */
  border: none;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--special-text-color);
  opacity: 0.7;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--special-text-color);
  opacity: 0.7;
}

.btn {
    font-family: var(--regular-title-family);
	font-weight: var(--regular-text-weight);
	font-size: var(--regular-text-size);
    color: var(--special-text-color);
    background-color: var(--special-background-color);
    padding: 0.3rem;
    margin: 1rem 0 0 0;
    border: none;
    /*border-radius: 5%;*/
    /*box-getRecentData: 0.4rem 0.4rem;*/
}

.btn:hover {
	box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);
}


/*Style Hidden divs*/
/*#error__msg {
	padding: 1rem;
	box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);
	background-color: var(--special-background-color);
	margin: 1.5rem 1.5rem 1.5rem 1rem;
}*/

.weather__log {
	/*box-shadow: 0.5 0.5 0.4rem var(--shadow-color);*/
	/*padding: 0.5rem;*/
	padding: 1rem 2rem 2rem 2rem;
	border: 0.2rem solid var(--special-background-color);
	margin: 0 0 2rem 0;
}

.weather__log:hover {
	box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);
}

.weather__card {
	/*margin: 1rem;*/
}

.error__box {
	padding: 1rem 2rem 2rem 2rem;
	/*box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);*/
	border: 0.2rem solid var(--special-background-color);
	/*background-color: var(--special-background-color);*/
	/*margin: 1.5rem 1.5rem 1.5rem 1rem;*/
	/*margin: 1.5rem 0;*/
	margin: 0 0 2rem 0;
}

.error__box:hover {
	box-shadow: 0.5rem 0.5rem 0.4rem var(--shadow-color);
}

.error {
	color: var(--error-color);
	background-color: var(--special-background-color);
	padding: 0.5rem;
}

.hide {
	display: none;
}


/*@import url(responsive.css);*/