/*Get fonts from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500;700&family=Roboto:wght@500;700&display=swap');


* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	padding: 2rem, 1rem;
	line-height: 1.5;
	letter-spacing: 0.05rem;
	color: var(--regular-text-color);
}

:root {
	/*FONTS*/
	/*font-sizes*/
	--page-title-size: 2.5rem;
	--regular-title-size: 1.5rem;
	--regular-text-size: 1rem;

	/*font-family*/
	--page-title-family: 'Roboto', Sans-serif;
	--regular-title-family: 'Roboto', Sans-serif;
	--regular-text-family: 'Lora', serif;

	/*font-weight*/
	--page-title-weight: 700;
	--regular-title-weight: 700;
	--regular-text-weight: 500;


	/*COLOURS*/
	--page-title-color: #f4f312;
	--regular-title-color: #f4f312;
	--regular-text-color: #fffeff;
	--special-text-color: #07151a;
	--special-background-color: #ebf5fa;
	--shadow-color: #215d78;
	--error-color: #b4324b;

}


